
.tintucWrap {
  margin-left: 20px;
  margin-bottom: 50px;
}

.title {
  font-size: 2;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: left;
}

.listNews {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.newsItem {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.08);
  overflow: hidden;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.newsImg {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.newsContent {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.newsTitle {
  font-size: 1.1rem;
  font-weight: 500;
  color: #222;
  text-align: left;
}

.newsViews {
  font-size: 0.95rem;
  color: #f57c00;
  text-align: left;
}
