:root {
      --container-width: 540px;
      --font-family: 'Roboto', sans-serif;
      --font-size: 13px;
      --font-weight-bold: 700;
      --color-white: #ffffff;
      --color-background: #ecf0f1;
      --spacing: 16px;
      --block-height: 54px;
      --label-width: 160px;
      --spacing-bottom: 16px;


      /* Theme colors */
      --bandwidth-primary: #561d1d;
      --bandwidth-secondary: #cd0e00;
      --bandwidth-text: "Bandwidth";
      --bandwidth-percentage: 30%;
      --bandwidth-percentage-text: "30%";

      --storage-primary: #0097a7;
      --storage-secondary: #00bcd4;
      --storage-text: "Storage";
      --storage-percentage: 50%;
      --storage-percentage-text: "50%";

      --users-primary: #089c2d;
      --users-secondary: #33f556;
      --users-text: "users";
      --users-percentage: 70%;
      --users-percentage-text: "70%";

      --visitors-primary: #929c08;
      --visitors-secondary: #f5db33;
      --visitors-text: "Visitors";
      --visitors-percentage: 30%;
      --visitors-percentage-text: "30%";

      --emails-primary: #86089c;
      --emails-secondary: #ce33f5;
      --emails-text: "emails";
      --emails-percentage: 45%;
      --emails-percentage-text: "45%";

      --basic-primary: #9c0870;
      --basic-secondary: #f533a1;
      --basic-text: "basic";
      --basic-percentage: 80%;
      --basic-percentage-text: "80%";

      --others-primary: #12089c;
      --others-secondary: #3d33f5;
      --others-text: "others";
      --others-percentage: 37%;
      --others-percentage-text: "37%";
    }

    .container {
      width: var(--container-width);
      margin: 0 auto;
    }

    .row {
      display: flex;
      margin-bottom: var(--spacing-bottom);
      height: var(--block-height);
    }

    .left-column {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: var(--label-width);
      height: 100%;
    }

    .left-column>span {
      margin-right: var(--spacing);
      color: var(--color-white);
      font-family: var(--font-family);
      font-size: var(--font-size);
      font-weight: var(--font-weight-bold);
      text-transform: uppercase;
    }

    .right-column {
      flex: 1;
      background-color: var(--color-background);
    }

    .right-column-percent {
      display: flex;
      align-items: center;
      height: 100%;
    }

    .right-column-percent>span {
      margin-left: var(--spacing);
      color: var(--color-white);
      font-family: var(--font-family);
      font-size: var(--font-size);
      font-weight: var(--font-weight-bold);

    }

    .bandwidth-color-primary {
      background-color: var(--bandwidth-primary)
    }

    .bandwidth-color-secondary {
      background-color: var(--bandwidth-secondary);
    }

    .storage-color-primary {
      background-color: var(--storage-primary);
    }

    .storage-color-secondary {
      background-color: var(--storage-secondary);
    }

    .users-color-primary {
      background-color: var(--users-primary);
    }

    .users-color-secondary {
      background-color: var(--users-secondary);
    }

    .visitors-color-primary {
      background-color: var(--visitors-primary);
    }

    .visitors-color-secondary {
      background-color: var(--visitors-secondary);
    }

    .emails-color-primary {
      background-color: var(--emails-primary);
    }

    .emails-color-secondary {
      background-color: var(--emails-secondary);
    }

    .basic-color-primary {
      background-color: var(--basic-primary);
    }

    .basic-color-secondary {
      background-color: var(--basic-secondary);
    }

    .others-color-primary {
      background-color: var(--others-primary);
    }

    .others-color-secondary {
      background-color: var(--others-secondary);
    }

    .bandwidth-text::before {
      content: var(--bandwidth-text);
    }

    .bandwidth-percent-text::before {
      content: var(--bandwidth-percentage-text);
    }

    .bandwidth-percent {
      width: var(--bandwidth-percentage)
    }

    .storage-text::before {
      content: var(--storage-text);
    }

    .storage-percent-text::before {
      content: var(--storage-percentage-text);
    }

    .storage-percent {
      width: var(--storage-percentage);
    }

    .users-text::before {
      content: var(--users-text);
    }

    .users-percent-text::before {
      content: var(--users-percentage-text);
    }

    .users-percent {
      width: var(--users-percentage);
    }

    .visitors-text::before {
      content: var(--visitors-text);
    }

    .visitors-percent-text::before {
      content: var(--visitors-percentage-text);
    }

    .visitors-percent {
      width: var(--visitors-percentage);
    }

    .emails-text::before {
      content: var(--emails-text);
    }

    .emails-percent-text::before {
      content: var(--emails-percentage-text);
    }

    .emails-percent {
      width: var(--emails-percentage);
    }

    .emails-text::before {
      content: var(--emails-text);
    }

    .emails-percent-text::before {
      content: var(--emails-percentage-text);
    }

    .emails-percent {
      width: var(--emails-percentage);
    }

    .basic-text::before {
      content: var(--basic-text);
    }

    .basic-percent-text::before {
      content: var(--basic-percentage-text);
    }

    .basic-percent {
      width: var(--basic-percentage);
    }

    .others-text::before {
      content: var(--others-text);
    }

    .others-percent-text::before {
      content: var(--others-percentage-text);
    }

    .others-percent {
      width: var(--others-percentage);
    }

