.accordionsContainer {
  width: 100%;
  margin-top: 2rem;
}

.accordionTitle {
  font-size: 2.2rem;
  font-weight: bold;
  margin-left: 8px;
  margin-top: 18px;
}

.accordionSub {
  font-size: 1.1rem;
  margin-left: 10px;
  margin-bottom: 1.5rem;
}

.accordionItem {
  margin-bottom: 10px;
  border-radius: 2px;
  overflow: hidden;
}

.accordionBtn {
  width: 100%;
  background: #f5f5f5;
  color: #666;
  font-size: 1.4rem;
  font-weight: 700;
  border: none;
  outline: none;
  padding: 1.2rem 0;
  text-align: center;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  margin-bottom: 0;
}
.accordionBtn.active {
  background: #41b883;
  color: #fff;
}

.accordionContent {
  background: #fff;
  border: 1px solid #eee;
  border-top: none;
  padding: 1.5rem 2rem;
  color: #666;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.6;
}
