.products_item {
    padding: 20px;
    flex-basis:23%;
    background: #fff;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #cecece;
    text-align: center;
}

.products_item_photo{
    width: 100%;
    overflow: hidden;
    max-height: 272px;
}
.products_item_photo img{
    width: 100%;
    height: auto;
    max-height: 272px;
}


.products_item_info{
    display: block;
    clear: both;
}
.products_item_info h3{
    text-transform: uppercase;
    font-size: 14px;
    
}
.products_item_info p{
    color: #888;
    font-size: 12px;
    padding: 0;
    margin: 0;
    line-height: 18px;
}

.products_item_action {
    margin-top: 5px;
}
.products_item_action .products_item_buton {
    padding: 10px 12px;
    background-color:#4EC67F;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 3px;
}