
@tailwind base;
@tailwind components;
@tailwind utilities;#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #f8f8f8;
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  font-size: 14px;
  color: #111;
}

button {
  padding: 8px 16px;
  text-align: center;
  border: none;
  outline: none;
  background-color: #111;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background-color: #333;
}

ul{
  margin-left: 20px;
}

button:disabled{
  opacity: .5;
}

.btn_ghost {
  background-color: transparent;
  border: none;
  color: #111;
}
.btn_ghost:hover{
  background-color: transparent;
}

input, select, textarea {
  padding: 8px 10px;
  border: 1px solid #111;
  outline: none;
  background-color: #fff;
  color: #111;
  border-radius: 6px;
}
input:disabled {
  opacity: 0.5;
}
input[type='radio'],
input[type='checkbox']{
  margin-right: 5px;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}
input[type='radio']:checked,
input[type='checkbox']:checked{
  background-color: #111;
  color: #fff;
}

a{
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section{
  background: #fff;
  padding: 10px;
  margin: 10px 0;
}
.section .section_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.section .section_header .section_title{
  text-transform: uppercase;
  color: #333;
}

.section .section_header .section_extra{
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.section .section_header .section_extra a{
  color: #333;
}
.section .section_header .section_extra a:hover{
  font-weight: bold;
}
.read-the-docs {
  color: #888;
}
